* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
/* Common */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-flex;
    /*  */
    align-items: center;
    justify-content: center;
    /* De cac icon cua cac nut dc can giua va dat dc width height  */
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.section__label {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}
.title__heading,
.title__desc {
    text-align: center;
}

.title__heading {
    margin-top: 15px;
}

.action-btn {
    display: flex;
    justify-content: center;
}

.btn-cta {
    --height: 56px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ff5b2e;
    border: 1px solid #ff5b2e;
    border-radius: 31px;
}

.btn-cta:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* =========Header========== */
.header {
    padding: 25px 0 13px;
    position: sticky;
    top: -12px;
    z-index: 2;
    background: #fff6ed;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__list {
    display: flex;
}
.header-action__link,
.navbar__link {
    padding: 8px 18px;
    font-weight: 500;
    line-height: 1;
    font-size: 1.4rem;
    color: #5e6085;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 currentColor;
    /* Khi hover vao chu khong bi giat */
}

.header-cta__btn {
    --height: 50px;
    width: 118px;
}

/* ========hero======== */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero-media {
    padding-bottom: 94px;
    position: relative;
    display: flex;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 2px solid #fff;
    background: #fe997b;
    border-radius: 16px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    right: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-list-item__thumb {
    background: #fec23f;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-list-item {
    display: flex;
    align-items: center;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__tile {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__skeleton2 {
    width: 39px;
    height: 4px;
}

.hero-list-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 99px;
}

.hero-list-item:last-child .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    width: 517px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6;
    text-decoration: underline;
    color: #000958;
}

/* About */

.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../icon/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__card {
    position: absolute;
    top: 200px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}

.about__card-title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #fff;
}

.about__card-desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

.about__decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    /* Chiem het chieu ngang the cha */
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    z-index: -1;
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -2;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img-wrap-bottom::after {
    content: none;
    /* Loai bo before after cua phan truoc */
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    right: -21px;
    top: 33px;
}

.about__decor-img:nth-child(4) {
    top: 216px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    /* de khi column gap vao item khoi bi du khoang trang ở cuối*/
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    /* Chiem het chieu rong the cha */
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}

/* ==========Service============== */
.service {
    background: #fff6ed;
    padding: 68px 0 100px;
    margin-top: 190px;
}

.service__body {
    align-items: center;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service__column {
    display: grid;
    row-gap: 24px;
}

.service-item {
    width: 294px;
    padding: 30px;
    background: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.service-item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    /* top: 0 right: auto bottom: 0 right: 0 */
    /* Chiem het chieu cao */
    display: inline-block;
    content: "";
    width: 2px;
    border-radius: 1px;
    background-image: linear-gradient(#ff5b2e, #ffa187);
}

.service-item__desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.service-item__row-link {
    margin-top: 24px;
    display: inline-flex;
    font-family: Sora, sans-serif;
    margin-right: 9px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}

.service-item__row-link::after {
    content: url(../icon/service-icon.svg);
    margin-left: 1px 0 0 5px;
}

.service-item__thumb {
    margin-top: 18px;
    position: relative;
}

.service-item__thumb::after {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    /* Chiem het chieu ngang the cha */
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
    /* khong nen dat z i-index vì đã có màu nền nên nêu dặt z-index thi sẽ bị ẩn vì đó nên đặt vào img lên trên thay vì bgc xuống dưới */
}

.service-item__img {
    margin-top: 40px;
    position: relative;
    z-index: 1;
    /* phai co position moi co z-index  */
    display: block;
    width: 100%;
}

.action-btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.service-btn__action {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}

/* =======staff ========= */
.staff {
    margin: 65px 0;
    padding: 65px 0;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff__list-item {
    text-align: center;
}

.staff__list-item-thumb {
    position: relative;
    margin: 0 16px;
    /* trang tri hoa tiet */
    border-radius: 130px;
}

.staff__list-item-thumb::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    /* Chiem het chieu ngang the cha */
    height: 94%;
    width: 100%;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: 130px;
}

.staff__list-item-thumb::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    /* 100% mới chỉ băng kích thước của the figure nên + 16px mới chiếm không gian ở ngoài chứa nó*/
    /* kích thước % sẽ ăn theo the chứa nó có position relative */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    /* viết 1 giá trị 100% ứng với chiều rộng còn chiều cao tự động */
}

.staff__list-item:nth-child(1) .staff__list-item-thumb::after {
    background-image: url(../icon/member-icon1.svg);
    /* de dat kích thước cho cac hinh trang tri khi thu trinh duyệt lại không bị vỡ */
    /* dat background size chung ở trên */
}

.staff__list-item:nth-child(2) .staff__list-item-thumb::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__list-item:nth-child(2) .staff__list-item-thumb::after {
    background-image: url(../icon/member-icon2.svg);
}

.staff__list-item:nth-child(3) .staff__list-item-thumb::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__list-item:nth-child(3) .staff__list-item-thumb::after {
    background-image: url(../icon/member-icon3.svg);
}

.staff__list-item:nth-child(4) .staff__list-item-thumb::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__list-item:nth-child(4) .staff__list-item-thumb::after {
    background-image: url(../icon/member-icon4.svg);
}

.staff__list-item:nth-child(even) .staff__list-item-thumb::after {
    background-position: 0 16px;
    /* chieu ngang 0 va chiêu  cách top 16px */
}

.staff__img {
    position: relative;
    z-index: 1;
    /* nen vao ảnh để khi có màu nền cho toàn bộ container của staff thi z-index -1 vào before thì nó sẽ nằm dưới màu nền*/
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff__item-desc {
    margin-top: 34px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff__item-name {
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.staff-btn__action {
    min-width: 193px;
    margin-top: 48px;
}
/* pricing */
.pricing {
    padding: 86px 0;
    background-color: #fff6ed;
}

.pricing__container {
    width: 994px;
}

.pricing__desc {
    margin: 24px auto 0;
    width: 709px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.pricing__switch-wrap {
    display: flex;
    margin-top: 38px;
    justify-content: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* can giua chu va dat duoc width height */
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 99px;
    border: 1px solid rgba(255 91 46 / 0.6);
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    /* bang chieu cao label */
    background-color: #ff5b2e;
    border-radius: inherit;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    /* chu nam tren mau nen */
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
    /* huy bo left=0 o tren va right=0 ben phai */
}

.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1),
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    right: -112px;
    top: -10px;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    padding: 30px 28px 46px;
    width: 302px;
    background: #ffffff;
    border-radius: 20px;
    transition: 0.25s;
}

.pricing-label {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}

.pricing__title {
    margin-top: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #3f4065;
}

.pricing__stats {
    font-family: "Sora", sans-serif;
    margin-top: 24px;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
    color: #000958;
}

.pricing-item__btn {
    margin: 22px 0 24px;
    min-width: 246px;
    box-shadow: none;
    transition: 0.25s;
    background: transparent;
    /* dat lai mau nen cho button vi button co mau mac dinh */
}

.pricing-item:hover {
    box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}

.pricing-item:hover .pricing__active {
    color: #fff;
    background-color: #ff5b2e;
}

.list-pricing {
    margin-left: 26px;
}

.pricing-checked {
    position: relative;
    padding-bottom: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.pricing-checked:last-child {
    padding-bottom: 0;
}

.pricing-checked::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -26px;
    width: 13px;
    height: 6px;
    border-left: 2px solid #ff5b2e;
    border-bottom: 2px solid #ff5b2e;
    rotate: -45deg;
}

.pricing-checked:nth-child(5)::before,
.pricing-checked:nth-child(6)::before,
.pricing-checked:nth-child(7)::before {
    border-left: 1px solid rgba(255, 91, 46, 0.4);
    border-bottom: 1px solid rgba(255, 91, 46, 0.4);
}

/* Reviews */
.review {
    padding-top: 53px;
}

.review__thumb {
    position: relative;
    width: 230px;
}

.review__thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* Chiem het chieu ngang the cha */
    height: 350px;
    width: 274px;
    background: #ffda54;
    border-radius: 137px;
    z-index: -1;
}

.review__img {
    display: block;
    margin: 0 auto;
    width: 274px;
    border-radius: 137px;
}

.review__row {
    display: flex;
    align-items: center;
}

.review__desc {
    width: 553px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #000000;
}

.review__content {
    position: relative;
    width: 47%;
    margin-left: 250px;
}

.review__name {
    padding-left: 28px;
    position: relative;
    margin-top: 34px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #282828;
}

.review__name::before {
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
}

.review__decor {
    color: #ff5b2e;
    position: absolute;
    margin-right: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: 1.5px solid #ffd1c4;
    border-radius: 50%;
}

.review__decor:hover {
    color: #fff;
    background: #ff5b2e;
    box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.review__decor1 {
    position: absolute;
    top: 50%;
    left: -100px;
}

.review__decor2 {
    position: absolute;
    top: 50%;
    right: -180px;
    rotate: 180deg;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.review__dot1 {
    margin-right: 8px;
    display: inline-block;
    width: 24px;
    height: 8px;
    background: #ff5b2e;
    border-radius: 4px;
}

.review__dot {
    margin: 0 4px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #ff5b2e;
    border-radius: 4px;
}

/* Blog */

.blog {
    margin-top: 130px;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__column-desc {
    width: 350px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.blog-btn {
    margin-top: 24px;
}

.blog-btn__action {
    min-width: 182px;
}

.blog__list-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog__list-item {
    margin-top: 54px;
}

.blog__thumb {
    position: relative;
    width: 358px;
    height: 362px;
    background: var(--bg);
    border-radius: 24px;
    z-index: -1;
}

.blog__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.date {
    position: absolute;
    top: 24px;
    left: 36px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #ffffff;
}

.blog__title {
    margin-top: 28px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}

.blog__desc {
    width: 353px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

/* FOOTER */

.footer {
    margin-top: 130px;
}

.footer__inner {
    display: flex;
    align-items: center;
}

.footer__item1 {
    width: 42%;
    background: #fff6ed;
    padding: 114px 0 157px 135px;
}

.form-email {
    position: relative;
    margin-top: 40px;
}

.footer__form-input {
    padding-left: 22px;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.8;
    width: 268px;
    height: 46px;
    background: #ffffff;
    opacity: 0.6;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 23px;
}

.form__btn {
    position: absolute;
    left: 225px;
    top: -1px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 46px;
    background: #ff5b2e;
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    border-radius: 22.5px;
    rotate: 180deg;
}

.follow {
    margin-top: 84px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: #000958;
}

.row__social {
    margin-top: 16px;
    display: flex;
}

.icon {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
    border-radius: 50%;
    cursor: pointer;
}

.footer__item2 {
    margin-left: 129px;
    position: relative;
}

.footer__title {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: #000958;
}

.footer__desc {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}

.footer__item2-2 {
    margin-top: 86px;
}

.footer__item3 {
    margin-left: 137px;
}

.copy__right {
    position: absolute;
    bottom: -40px;
    left: -95px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.5;
}

/* Navbar-mobile */
.nav__bars-btn {
    margin-left: 8px;
    position: absolute;
    right: 0;
    /* display: none; */
    cursor: pointer;
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Chiem het man hanh */
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    max-width: 100%;
    background: #fff6ed;
    transition: transform linear 0.2s, opacity linear 0.2s;
    opacity: 0;
}

.nav__mobile-list {
    margin-top: 50px;
    padding-left: 30px;
}

.nav__mobile-link {
    margin-bottom: 30px;
    color: #333;
    display: block;
    /* de xet padding */
    padding: 8px 0;
    font-size: 1.6rem;
}

.nav__mobile-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}
